#HeaderLogo img {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 768px) {
  #HeaderLogo img {
    top: 0;
  }
}

#MyNav {
  margin-top: 120px;
}
#MyNav .navbar-toggler {
  color: #2b2c2f !important;
  border: none !important;
}
#MyNav button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#MyNav .nav-link {
  color: black;
}
#MyNav .nav-link:hover {
  color: #d20707;
}
#MyNav a {
  font-size: 20px;
  margin: 4px;
  color: black;
}
#MyNav a:hover {
  color: #d20707;
}
@media (min-width: 992px) {
  #MyNav .container-fluid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#MyNav2 {
  background: #d20707;
  text-align: center;
  display: none;
}
#MyNav2 .col {
  border-right: 1px solid #d44646;
}
#MyNav2 a {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  #MyNav2 {
    display: block;
    height: 90px;
    line-height: 90px;
  }
}
@media (min-width: 992px) {
  #MyNav2 {
    display: block;
    height: 50px;
    line-height: 50px;
  }
}

#section01 .card {
  margin: 30px 0;
  border: none;
}
#section01 .card .card-body {
  padding: 0;
}
#section01 .card .card-body .card-title {
  font-size: 35px;
  padding-bottom: 16px;
  font-weight: 600;
  letter-spacing: 1.3px;
}
#section01 .card .card-body .card-text {
  color: #656565;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 22px;
}
#section01 .card .card-body button {
  background: white;
  border: 1px solid black;
  padding: 12px 27px;
  letter-spacing: 1.5px;
}
#section01 .card .card-body button:hover {
  background: #d20707;
  border: 1px solid transparent;
}
#section01 .card .card-body button:hover a {
  color: white;
}
#section01 .card .card-body button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
#section01 img {
  margin: 10px 16px;
  width: 210px;
  height: 280px;
}
@media (min-width: 992px) {
  #section01 .card {
    margin: 50px 0;
  }
  #section01 img {
    margin: 50px 16px;
  }
}

#section02 h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}
#section02 .fa-solid {
  color: rgb(219, 218, 218);
  font-size: 10px;
  display: none;
}
#section02 .nav-pills .nav-item .nav-link {
  color: black;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
#section02 .nav-pills .nav-item .active {
  background: none;
  color: #d20707;
}
@media (min-width: 768px) {
  #section02 .fa-solid {
    display: block;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-pagination-bullet-active {
  background: #d20707;
}
.swiper .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper .swiper-button-prev {
  color: grey;
}
.swiper .swiper-button-prev:hover {
  color: #d20707;
}
.swiper .swiper-button-next {
  color: grey;
}
.swiper .swiper-button-next:hover {
  color: #d20707;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mySwiper2 .swiper-slide {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.mySwiper2 .swiper-slide img {
  border-bottom: 1px solid rgb(218, 218, 218);
}
.mySwiper2 .swiper-slide p {
  margin-top: 12px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #656565;
}
.mySwiper2 .swiper-slide .info button {
  color: white;
  font-size: 14px;
  letter-spacing: 1.2px;
  padding: 8px 20px;
  border: none;
  font-weight: 600;
  background: #d20707;
  display: none;
}
.mySwiper2 .swiper-slide .info button:hover {
  background: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mySwiper2 .swiper-slide .info div {
  color: black;
  font-size: 14px;
  letter-spacing: 1.1px;
  padding: 8px 20px;
  border: none;
  font-weight: 600;
  background: white;
}
.mySwiper2 .swiper-slide .info div:hover {
  color: #d20707;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .mySwiper2 .swiper-slide .info {
    position: absolute;
    top: 134px;
    left: -149px;
  }
  .mySwiper2 .swiper-slide .info button {
    display: block;
  }
  .mySwiper2 .swiper-slide .info div {
    position: relative;
    top: 159px;
  }
}