#MyNav {

  .nav-link {
    color: black;

    &:hover {
      color: $p-color;
    }
  }


  a {
    font-size: 20px;
    margin: 4px;
    color: black;

    &:hover {
      color: $p-color;
    }
  }

  img {
    display: none;
  }

  @include md {

    height: 120px;

    img {
      display: block;
    }

  }
}

#MyNav2 {
  background: $p-color;
  height: 50px;
  text-align: center;
  line-height: 50px;

  a {
    color: $s-color;
    text-decoration: none;
  }

  @include md {
    display: none;
  }
}