#section03 {
  position: relative;
  overflow: hidden;

  .info2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    text-align: center;

    h1 {
      font-size: 70px;
      letter-spacing: 3px;
      line-height: 58px;
      padding: 40px 0;
      color: $s-color;
    }

    button {
      border: none;
      background: $p-color;
      color: $s-color;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.2px;
      line-height: 25px;
      padding: 8px 20px;

      &:hover {
        background: #000;
      }

    }

  }

  .jarallax {
    height: 70vh;
    z-index: -1000;
  }
}