#section01 {
  .card-title {
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1.3px;
  }

  .card-text {
    color: #656565;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 26px;
  }
}