// 文字、行高、空間
// $font-base-size: 16px;
// $line-height-level: 1.4;
// $space: 1rem;

// Breakpoint
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;
$breakpoint-xxl: 1399px;